
[submodule "securethebox-client"]
	path = securethebox-client
	url = https://github.com/ncmd/securethebox-client
[submodule "securethebox-attacker"]
	path = securethebox-attacker
	url = https://github.com/ncmd/securethebox-attacker
[submodule "securethebox-engine"]
	path = securethebox-engine
	url = https://github.com/ncmd/securethebox-engine
[submodule "securethebox-server"]
	path = securethebox-server
	url = https://github.com/securethebox/securethebox-server.git
[submodule "securethebox-client-legacy"]
	path = securethebox-client-legacy
	url = https://github.com/ncmd/securethebox-client-legacy.git
[submodule "securethebox-server-legacy"]
	path = securethebox-server-legacy
	url = https://github.com/ncmd/securethebox-server-legacy.git
